.App {
  text-align: center;
  background: linear-gradient(to bottom,white 0%,#242943 80%,#000000 50%,#242943 50%,black 100%); /* W3C */
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


h1 {
    font: 'Verdana';
    text-shadow: -1px 1px 45px red;
    font-size: 70px;
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;
}

h1:hover {
    font-size: 71px;
    -webkit-transition: text-shadow 3s ease;
    -moz-transition: text-shadow 3s ease;
    -o-transition: text-shadow 3s ease;
    transition: text-shadow 3s ease;
}



#stage {
  display: block;
  margin: auto;
  width: 100%;
  padding: 2px;
}

#stage ellipse {
  fill: grey;
  fill-opacity:0.2;
}

#stage ellipse:active {
}

#stage ellipse:hover {
    fill: white;
    fill-opacity:0.6;
    stroke: yellow;
    filter: url(#blur-filter);
}


